%h1.text-center
  Online highlighter

.row
  .six.columns
    .field
      %textarea#editor.input.textarea
        :preserve
          class Klass
            def method
              puts "hi"
            end
          end

    %ul
      %li.field
        .picker
          %select
            %option monokai

      %li.field
        .picker
          %select
            %option ruby

      .text-center
        %p.medium.btn.primary
          %a.switch#button(gumby-trigger="#modal")
            Create image

  .six.columns
    #code
      %pre
        %code.ruby

.modal#modal
  .content
    .row
      .twelve.columns.centered.text-center
        %canvas#canvas

        %p.btn.primary.medium
          %a.switch(gumby-trigger='|#modal')
            Close
