%h1.text-center
  Online highlighter
.row
  .field.eleven.columns.centered
    %textarea#editor.input.textarea
      :preserve
        class Klass
          def method
            puts "hi"
          end
        end

.row
  .eleven.columns.centered
    #code
      %pre
        %code.ruby

.row
  .centered.text-center
    %p.medium.btn.primary
      %a.switch#button(gumby-trigger="#modal")
        Create image

.modal#modal
  .content
    .row
      .twelve.columns.centered.text-center
        %canvas#canvas

        %p.btn.primary.medium
          %a.switch(gumby-trigger='|#modal')
            Close
